MyWebFormCases/Connected Services/ServiceReference1/myWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDateSoapIn">
    <wsdl:part name="parameters" element="tns:getDate" />
  </wsdl:message>
  <wsdl:message name="getDateSoapOut">
    <wsdl:part name="parameters" element="tns:getDateResponse" />
  </wsdl:message>
  <wsdl:portType name="myWebServiceSoap">
    <wsdl:operation name="getDate">
      <wsdl:input message="tns:getDateSoapIn" />
      <wsdl:output message="tns:getDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myWebServiceSoap" type="tns:myWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap:operation soapAction="http://tempuri.org/getDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="myWebServiceSoap12" type="tns:myWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap12:operation soapAction="http://tempuri.org/getDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myWebService">
    <wsdl:port name="myWebServiceSoap" binding="tns:myWebServiceSoap">
      <soap:address location="http://localhost:57504/Services/myWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="myWebServiceSoap12" binding="tns:myWebServiceSoap12">
      <soap12:address location="http://localhost:57504/Services/myWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>